<div class="card">
  <div class="card-body">
    <div class="text-center mt-3 mb-5">
      <h3>Subscription Form</h3>
      <p class="m-auto sub-text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia quod
        tempora velit dignissimos porro rerum ab ratione laborum reprehenderit.
        Officiis fugiat magni dolor ea praesentium natus iusto id impedit
        repellendus.
      </p>
      <form action="" class="form-inline mb-5 mt-5 row">
        <div class="form-group col-md-5">
          <input type="text" class="form-control form-input" placeholder="Name">
        </div>
        <div class="form-group col-md-5">
          <input type="email" class="form-control form-input" placeholder="Email">
        </div>
        <div class="col-md-2 d-grid">
          <button class="btn btn-info btn-submit text-white">Subscribe</button>
        </div>
      </form>
    </div>
  </div>
</div>
