<div class="bg-theme p-5">
  <div class="container">
    <h1 class="text-white">Category Name</h1>
    <p class="text-white">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste ducimus,
      hic neque dicta quae quos est laboriosam dignissimos perspiciatis ad vitae
      doloremque at assumenda omnis soluta! Sequi distinctio ad delectus!
    </p>
  </div>
</div>

<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-md-4 mb-3"><app-post-card></app-post-card></div>
    <div class="col-md-4 mb-3"><app-post-card></app-post-card></div>
    <div class="col-md-4 mb-3"><app-post-card></app-post-card></div>
    <div class="col-md-4 mb-3"><app-post-card></app-post-card></div>
    <div class="col-md-4 mb-3"><app-post-card></app-post-card></div>
    <div class="col-md-4 mb-3"><app-post-card></app-post-card></div>
  </div>
</div>
