.card-shadow-effect {
  border: none !important;
  box-shadow: 0px 0px 33px -10px rgba(71, 114, 254, 0.3) !important;
}
.form-input {
  height: 60px;
  padding-left: 20px;
  font-size: 13px;
  width: 100%;
  border: none;
  box-shadow: 0px 0px 33px -10px rgba(71, 114, 254, 0.3);
}

.btn-submit {
  height: 58px;
  border: none;
  font-size: 13px;
  background-color: var(--primary-color);
}
