<section class="mt-5">
  <div class="container mt-5-mb-5 p-5 bg-theme">
    <h1 class="text-white text-center">About Us</h1>
    <div class="mt-4 p-5 bg-secondary-theme text-theme-primary">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo laudantium
        veritatis temporibus voluptatum veniam voluptas nesciunt esse ad
        dolorem, atque natus fugit perspiciatis, sapiente impedit rerum iusto
        reprehenderit fugiat et.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo laudantium
        veritatis temporibus voluptatum veniam voluptas nesciunt esse ad
        dolorem, atque natus fugit perspiciatis, sapiente impedit rerum iusto
        reprehenderit fugiat et.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo laudantium
        veritatis temporibus voluptatum veniam voluptas nesciunt esse ad
        dolorem, atque natus fugit perspiciatis, sapiente impedit rerum iusto
        reprehenderit fugiat et.
      </p>
      <div class="text-center">
        <button class="btn btn-sm btn-info btn-submit text-white">Back to home</button>
      </div>
    </div>
  </div>
</section>
