<div class="container">
  <div class="row">
    <div class="col-md-9">
      <div class="card card-shadow-effect">
        <img
          src="https://images.unsplash.com/photo-1697313035847-1f2abfac9689?auto=format&fit=crop&q=80&w=2070&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt=""
          class="card-img-top img-fluid"
        />
        <div class="card-body">
          <small class="bg-light text-center text-danger"> Desgin </small>
          <small class="bg-light text-center text-success ml-2">
            Feature
          </small>
          <small class="bg-light text-center text-info ml-2"> View </small>
          <small class="bg-light text-center text-warning ml-2">
            Last updated time
          </small>
          <h1 class="mb-3 mt-3">Single post title</h1>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime,
            molestias? Et magnam quo earum nemo tempore vitae ratione, enim
            dolor facere fugiat quas accusantium nostrum, necessitatibus
            repellendus dolorem architecto beatae? Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Repudiandae molestiae veniam delectus,
            error perspiciatis consectetur exercitationem, eveniet iure quod
            debitis laboriosam corrupti qui consequuntur officiis, nam ut
            asperiores! Voluptatibus, distinctio?
          </p>
        </div>
      </div>
      <app-comment-form></app-comment-form>
      <app-comment-list></app-comment-list>
    </div>
    <div class="col-md-3">
      <app-post-card></app-post-card><app-post-card></app-post-card>
      <app-post-card></app-post-card>
    </div>
  </div>
</div>
