<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="site-logo">Ang-Blog</div>
        <ul class="nav justify-content-center">
          <li class="nav-item"><a href="" class="nav-link">Home</a></li>
          <li class="nav-item"><a href="" class="nav-link">About</a></li>
          <li class="nav-item"><a href="" class="nav-link">Terms & Condition</a></li>
          <li class="nav-item"><a href="" class="nav-link">Contact</a></li>
        </ul>
        <p class="mb-2 mt-2">A basic blog post</p>
      </div>
    </div>
  </div>
</footer>
