<div class="card">
  <img
    src="https://images.unsplash.com/photo-1697313035847-1f2abfac9689?auto=format&fit=crop&q=80&w=2070&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
    alt="post"
    class="card-img-top"
  />
  <div class="card-body">
    <p>
      <small class="bg-light text-center text-danger"> Desgin </small>
      <small class="bg-light text-center text-primary"> Feature </small>
      <small class="bg-light text-center text-info ml-3"> View </small>
    </p>
    <h5 class="mt-1">Some title</h5>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. A, magni. Eveniet
      cupiditate hic repudiandae temporibus aspernatur, deleniti obcaecati
      necessitatibus est molestiae possimus. Voluptatum suscipit facere
      excepturi nihil? Illum, temporibus nisi.
    </p>
    <small class="bg-light text-center text-warning ml-3">
      Last Updated - 1/oct/2023
    </small>
  </div>
</div>
